@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body,
.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f1;
  min-height: 100vh;
}

.blue-text {
  color: #1890ff;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main .filter-box {
  width: 100%;
}
.main .filter-box .filter-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: #25282c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(17, 20, 23, 0.7);
}
.main .filter-box .filter-list-link {
  width: 100%;
  color: #ecf0f1;
  font-weight: 700;
  border-right: 1px solid #ecf0f1;
  padding: 20px;
  transition: color 0.2s;
}
.main .filter-box .filter-list-link:hover {
  color: #0be881;
}
.main .filter-box .filter-list-item:nth-child(2) .filter-list-link {
  border-left: 1px solid #ecf0f1;
}
.main .filter-box .filter-list-item:first-child {
  margin-right: 20px;
}
.main .filter-box .filter-list-item:first-child input {
  padding: 8px;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
}