@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body,
.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f1;
  min-height: 100vh;
}

.blue-text {
  color: #1890ff;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .slider-box {
  width: 700px;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.5);
}
.main .slider {
  width: auto;
  height: 100%;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.main .slider-item {
  width: 700px;
  height: 100%;
}
.main .slider-img {
  width: 700px;
  height: 100%;
}
.main .slider::-webkit-scrollbar {
  display: none;
}
.main .main-container {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.aside {
  padding: 20px 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aside-list {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  list-style-type: none;
}
.aside-list-item {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.aside-list-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #111417;
  font-weight: 700;
}
.aside-list-title {
  padding: 10px;
  margin-top: 20px;
  opacity: 0.8;
  font-weight: 900;
  align-self: center;
}