@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body,
.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f1;
  min-height: 100vh;
}

.blue-text {
  color: #1890ff;
}

a {
  text-decoration: none;
}

.card {
  width: 350px;
  height: 250px;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.card-img {
  width: 200px;
  height: 250px;
}
.card-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.card-details {
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}
.card-details .card-brand p {
  font-weight: 900;
}
.card-details .card-model p {
  font-weight: 700;
}
.card-details .card-detail p {
  word-wrap: break-word;
  font-size: 0.9rem;
}
.card-details .card-price p {
  font-weight: 700;
}
.card-details .card-btn {
  width: 130px;
  outline: none;
  padding: 10px;
  border: 1px solid #1890ff;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  background-color: #1890ff;
  color: #ecf0f1;
}