@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body,
.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f1;
  min-height: 100vh;
}

.blue-text {
  color: #1890ff;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .contact-menu {
    padding: 0 20px;
  }
  .search-input {
    padding: 8px !important;
    width: 100px !important;
  }
  .search-box span {
    font-size: 1.2rem !important;
  }
  .logo {
    font-size: 2rem !important;
  }
  .list-menu {
    column-gap: 10px !important;
  }
  .list-menu-link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 850px) {
  .article-section-header-title::after, .article-section-header-title::before {
    width: 30%;
  }
}
@media screen and (max-width: 760px) {
  .slider-box,
  .slider-item,
  .slider-img {
    width: 400px !important;
    height: 250px !important;
  }
  .aside {
    margin: 0 auto;
    display: flex;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    column-gap: 50px;
  }
  .main-container {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: center;
  }
  .main-container .article {
    width: 100% !important;
    margin: 0 !important;
  }
}
@media screen and (max-width: 670px) {
  .contact-menu,
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}
@media screen and (max-width: 510px) {
  .aside-list {
    width: 150px !important;
  }
  .card {
    position: relative;
    min-width: 270px !important;
    height: 170px !important;
  }
  .card-img img {
    width: 120px !important;
    height: 170px !important;
  }
  .card-details {
    row-gap: 5px !important;
  }
  .card-details .card-btn {
    padding: 5px !important;
  }
}
@media screen and (max-width: 430px) {
  .slider-box,
  .slider-item,
  .slider-img {
    width: 300px !important;
    height: 220px !important;
  }
  .aside {
    column-gap: 10px;
  }
  .main-container {
    padding: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  .mobile-menu-box {
    width: 250px !important;
  }
  .mobile-under-menu-item {
    width: 230px !important;
  }
  .article-section-header-title::after, .article-section-header-title::before {
    width: 25%;
  }
}