@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body,
.container {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f1;
  min-height: 100vh;
}

.blue-text {
  color: #1890ff;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .contact-menu {
    padding: 0 20px;
  }
  .search-input {
    padding: 8px !important;
    width: 100px !important;
  }
  .search-box span {
    font-size: 1.2rem !important;
  }
  .logo {
    font-size: 2rem !important;
  }
  .list-menu {
    column-gap: 10px !important;
  }
  .list-menu-link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 855px) {
  .article-section-header-title::after, .article-section-header-title::before {
    width: 30%;
  }
  .footer-box-text {
    font-size: 1.1rem;
    line-height: normal;
  }
  .footer .contact-us-list-link {
    font-size: 1.4rem;
    padding: 10px;
  }
}
@media screen and (max-width: 760px) {
  .slider-box,
  .slider-item,
  .slider-img {
    width: 400px !important;
    height: 250px !important;
  }
  .aside {
    margin: 0 auto;
    display: flex;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    column-gap: 50px;
  }
  .main-container {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: center;
  }
  .main-container .article {
    width: 100% !important;
    margin: 0 !important;
  }
  .footer {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
  }
  .footer .about-us {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 670px) {
  .contact-menu,
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}
@media screen and (max-width: 510px) {
  .aside-list {
    width: 150px !important;
  }
  .card {
    position: relative;
    min-width: 270px !important;
    height: 170px !important;
  }
  .card-img img {
    width: 120px !important;
    height: 170px !important;
  }
  .card-details {
    row-gap: 5px !important;
  }
  .card-details .card-btn {
    padding: 5px !important;
  }
  .footer-box-title {
    font-size: 1.2rem;
  }
  .page-not-found-box {
    transform: scale(0.7);
  }
  .login-form {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
  }
  .login-form .form-btn {
    padding: 10px;
  }
  .form-text {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 430px) {
  .slider-box,
  .slider-item,
  .slider-img {
    width: 300px !important;
    height: 220px !important;
  }
  .aside {
    column-gap: 10px;
  }
  .main-container {
    padding: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  .mobile-menu-box {
    width: 250px !important;
  }
  .mobile-under-menu-item {
    width: 230px !important;
  }
  .article-section-header-title::after, .article-section-header-title::before {
    width: 25%;
  }
}