@import "basic";

.card-main {
  @include sizing(1100px, auto);
  overflow: hidden;
  margin: 20px auto;
  margin-bottom: 20px !important;
  padding: 10px;
  border: 1px solid rgba($dark, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba($dark, 0.5);

  .product-container {
    .product-list {
      @include flex(column, flex-start, flex-start);
      row-gap: 10px;

      &-item {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($very-dark, 0.7);
        // @include flex(row, center, flex-start);
        @include grid(repeat(10, 100px), auto);
        column-gap: 20px;

        .product-img-box {
          @include sizing(150px, 180px);
          grid-column: 1/3;
          overflow: hidden;
          border-radius: 10px;
          @include flex();
          box-shadow: 0 2px 10px rgba($very-dark, 0.7);

          img {
            @include sizing(100%, 100%);
          }
        }

        .product-info {
          @include flex(column, center, center);
          row-gap: 30px;
          text-align: center;
          grid-column: 3/4;
        }

        .product-price {
          grid-column: 4/6;
          @include flex();
        }

        .product-number {
          @include flex();
          column-gap: 5px;

          &-btn {
            all: unset;
            padding: 5px;
            cursor: pointer;
            border: 1px solid $light-blue;
            color: $light-red;
            @include flex();
            border-radius: 3px;
            box-shadow: 0 0 5px rgba($dark, 0.5);

            &:first-child {
              color: $light-blue;
            }
          }

          &-text {
            width: 20px;
            height: 25px;
            padding: 13px;
            border-radius: 5px;
            display: block;
            border: 1px solid $light-blue;
            @include flex();
            box-shadow: 0 0 5px rgba($dark, 0.5);
          }
        }

        .product-total {
          @include flex();
          grid-column: 7/9;

          &-text {
            font-size: 1.3rem;
            font-weight: 700;
          }
        }

        .product-delete {
          @include flex();

          button {
            all: unset;
            font-size: 2rem;
            color: $light-red;
            filter: drop-shadow(0 0 10px rgba($light-red, 0.7));
          }
        }
      }
    }
  }
}
.card-article {
  width: 100%;
  @include flex();
  &-info {
    margin: 0 auto;
    @include sizing(100%, 60px);
    @include flex(row, center, space-between);
    column-gap: 50px;
    background-color: $dark-light;
    margin: 20px 0;
    padding: 20px;
    color: $light;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba($very-dark, 0.7);

    .card-article-product {
      color: $very-dark;
      margin-right: 20px;
      padding: 10px;
      border: 1px solid $light;
      background-color: $light;
      border-radius: 10px;
    }
  }
}

.big-title {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
  margin-top: 40px;
}
