@import "basic";

// start of main
.main {
  @include sizing(100%, auto);
  @include flex(column);
  // start of slider
  .slider-box {
    @include sizing(700px, 400px);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.5);
  }

  .slider {
    @include sizing(auto, 100%);
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;

    &-item {
      @include sizing(700px, 100%);
    }

    &-img {
      @include sizing(700px, 100%);
    }
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  // end of slider
}
// end of main
