@import "basic";

@media screen and (max-width: 900px) {
  .contact-menu {
    padding: 0 20px;
  }

  .search-input {
    padding: 8px !important;
    width: 100px !important;
  }

  .search-box {
    span {
      font-size: 1.2rem !important;
    }
  }

  .logo {
    font-size: 2rem !important;
  }

  .list-menu {
    column-gap: 10px !important;

    &-link {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 760px) {
  .slider-box,
  .slider-item,
  .slider-img {
    width: 400px !important;
  }
}

@media screen and (max-width: 670px) {
  .contact-menu,
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}

@media screen and (max-width: 430px) {
  .slider-box,
  .slider-item,
  .slider-img {
    width: 300px !important;
    height: 250px !important;
  }
}

@media screen and (max-width: 400px) {
  .mobile-menu-box {
    width: 250px !important;
  }
  .mobile-under-menu-item {
    width: 230px !important;
  }
}
